[submodule "kube-postgres-operator-crunchy"]
	path = kube-postgres-operator-crunchy
	url = git@gitea.anrisoftware.com:robobeerun/kube-postgres-operator-crunchy.git
[submodule "nextcloud-helm"]
	path = nextcloud-helm
	url = git@gitea.anrisoftware.com:robobeerun/nextcloud-helm.git
[submodule "gitea-helm-chart"]
	path = gitea-helm-chart
	url = git@gitea.anrisoftware.com:robobeerun/gitea-helm-chart.git
