[submodule "kube-postgres-operator-crunchy"]
	path = kube-postgres-operator-crunchy
	url = git@github.com:robobee-repos/kube-postgres-operator-crunchy.git
[submodule "nextcloud-helm"]
	path = nextcloud-helm
	url = git@github.com:robobee-repos/nextcloud-helm.git
[submodule "gitea-helm-chart"]
	path = gitea-helm-chart
	url = git@github.com:robobee-repos/gitea-helm-chart.git
